Options FollowSymLinks
RewriteEngine On
RewriteBase /

#Si la url contiene
#dominio/clientes/(cadena-de-1-o-mas-caracteres)
#Redirige al archivo en clientes/cliente.php
#Usando el valor en la expresión regular ([a-z]+) como parámetro nombre=$1

#http://localhost/clientes/juan

#Se transforma en 

#http://localhost/clientes/cliente.php?nombre=juan


RewriteRule ^clientes\/([a-z]+)$ clientes/cliente.php?nombre=$1

